<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                
                <app-doughnut [title]="'Total Activos'" [labels]="labels1" [chartType]="type" [label]="label"></app-doughnut>  
                
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                
                <app-doughnut [title]="'Total Ingresos'" [chartType]="type2"></app-doughnut>     
                
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                
                <app-doughnut [title]="'Total Gastos'" [chartType]="type3"></app-doughnut>     
                
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                
                <app-doughnut [title]="'Total Personal'"></app-doughnut>     
                
            </div>
        </div>
    </div>
</div>